<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Content Page</title>
    <!-- Reference React App's CSS -->
<!--    <link rel="stylesheet" href="/path/to/your/react/app/static/css/main.css">-->
</head>
<body>
<div layout:fragment="content">
    <p>Club List Content</p>
</div>
<div id="root"></div>
<!-- Reference React App's JavaScript -->
<script src="static/static/js/main.798c4f8f.js"></script>
</body>
</html>
