<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout Example</title>
    <link rel="stylesheet" href="static/css/main.dc4d6ff2.css">
</head>
<body>
<header>Header Content</header>
<div layout:fragment="content">Default Layout Content</div>
<div id="root"></div>
<footer>Footer Content</footer>
<script src="static/js/main.798c4f8f.js"></script>

</body>
<script src="static/js/main.798c4f8f.js"></script>

</html>
